/*for social links*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


/* Universal properties */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border:none;
    text-decoration: none;
}
body{ 
    width: 100%;
    height:250vh;
    transition: background 0.3s ease;
    background-color:black;
    color: white;
}

/* Both header and nav */
header{
    margin-top:2rem;
    background-color: transparent;
    color: white;
    padding: 10px 10%; 
    
    /* position:fixed;
    top:0;
    left:0;
    width:100%; */

    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

/* Jyothis part */
.logo{
    font-size: 32px;
    font-weight: 600;
    cursor:pointer;
    color: yellow;
    transition: 0.5s ease;
    
}
.logo:hover{
    color:white;
    transform:scale(1.1);
    box-shadow: yellow;
    transition: all 0.2s ease; 
}

/* Navigation part */
nav a{
    font-size:20px;
    color:white;
    margin-left:24px;
    font-weight:300;
    transition: 0.2s ease;
    cursor:pointer;
    border-bottom:3px solid transparent;
    
}
nav a.active{
    color:yellow;
    box-shadow: yellow;
    border-bottom:3px solid yellow;
}
nav a:hover{
    color:white;
    box-shadow: yellow;
    border-bottom:3px solid white;
}

section{
    min-height:100vh;
    padding:5rem 9% 5rem;
    


}
.home{
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
img{
    position:relative;
    width:32vh;
    box-shadow: yellow 0px 0px 10px;
    border-radius: 10%;
    
}
.home-word{
    margin-left: 5rem;
    margin-right: 10rem;
    
}
.home-word h1{
    font-size:6rem;
    font-weight:700;
    line-height:1.3;
}
.home-word h3{
    font-size:3rem;
    font-weight:700;
    margin-bottom:1rem;
}

span{
    color:yellow;
}

/* socials part */
.fa-brands{
    background-color: black;
    color:white;

    display:flex;
   
    padding:2px;
    border:1px solid white;
}